.test {

}
.test .myInput {
    border: 3px solid darkblue;
    background-color: #f5fcfc;
}

.test input[type=checkbox].myCheckbox  {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid darkblue;
    background-color: #f5fcfc;
    color: #ba0505;
    cursor: pointer;
}

.test input[type=checkbox].myCheckbox:checked:after {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: -5px;
    left: -1px;
    font-size: 28px;
    content: "\2713";
    font-weight: bold;
}

.test .myButton {
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: darkblue;
    color: white;
    min-width: 150px;
    transition: .6s ease;
}

.test .myButton:hover {
    transform: scale(1.05);
    background-color: #ba0505;
}

