.page404 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page404 h1 {
    font-size: 120px;
    transform: scaleY(1.5);
    color: darkblue;
}

.page404 h1 span {
    color: #af0202;
}