/*.header {*/
/*    background-color: #c6dff5;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/

/*.wrapper {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin: 0 auto;*/
/*    width: 80%;*/
/*    height: 60px;*/
/*}*/

/*.header a {*/
/*    color: darkblue;*/
/*    padding: 0 20px;*/
/*}*/

/*.header a:hover {*/
/*    color: #06949a;*/
/*}*/

.main {
  margin: 0 auto;
  width: 80%;
  padding: 80px 0;
  min-height: calc(100vh - 60px);
}
