.input,
.errorInput {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.input:focus,
.errorInput {
    outline: none;
}

.input {
}

.errorInput {
    border: 3px solid darkred!important;
    background-color: #efd4df;
}

.error {
    color: red;
}
